// layout
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 1440px
$navbar-vertical-padding = 0.7rem
$navbar-horizontal-padding = 2.5rem

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// LBRY
$accentColor = #27E4EB
$counter-accent = #fff
$warning = #F1C40F
$error = #E74C3C
$bg1 = #072A46
$bg2 = #051D31
$bg3 = #041523
$header-text = #FAFAFA
$text = #DDDDDD

:root {
  --accent: $accentColor
  --accentLight10: lighten($accentColor, 10%)
  --accentDark10: darken($accentColor, 10%)
  --counterAccent: $counter-accent

  --tip: $accent
  --warning: $warning
  --error: $error

  --primaryBG: $bg1
  --secondaryBG: $bg2
  --tertiaryBG: $bg3
  --headerText: $header-text
  --text: $text
}