/*:root{*/
/*  --vp-c-bg: #072a46;*/
/*  --vp-c-bg-alt: #072a46;*/
/*  --vp-c-divider: #27E4EB;*/
/*  --vp-c-text-1: white;*/
/*  --vp-nav-bg-color: #041523;*/
/*  --vp-nav-logo-height: 2.6rem;*/
/*}*/
